# Server Environment Variables
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8080/api/auth/callback
SESSION_SECRET=
TOKEN_ENC_KEY=
PORT=8080
GOOGLE_APPLICATION_CREDENTIALS=